.background-profile {
    padding: 2em;
}

.main-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
    border-style: double;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('http://tachyons.io/img/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: .1rem;
    width: 9rem;
    height: 9rem;
}

.image-select {
    visibility: hidden;
}

.image-button {
    display: flex;
    justify-content: center;
    background: #0000007d;
    color: #ffffffb3;
    width: inherit;
    font-size: larger;
}

.update-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}