/* nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.5rem 2rem;
    background-color: #b2edff9e;
}

p {
    display: flex;
    padding-right: 1%;
    text-decoration: underline;
    cursor: pointer;
} */